html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $third-color;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $base-color;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $second-color;

  }