.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &-logo {
        width: auto;
        height: 150px;
    }
}

.header-page {
    background-color: $base-color;
    &-logo {
        height: 100px;
    }
}